/* Menu*/

li {
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  margin-left: 100px;
}

/* Loader*/

.loader {
  border-top: 4px solid green;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkslategray;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* Form*/

.form-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px;
  background-color: lightgray;
}

form {
  /* margin-top: 100px; */
  border-radius: 50px;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

.form-error {
  color: red;
  margin-bottom: 20px;
  font-size: 0.9rem;
  display: none;
}

button {
  background-color: green;
  color: yellow;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem;
}
