/* Menu*/

li {
  list-style: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  margin-left: 100px;
}

/* Loader*/

.loader {
  border-top: 4px solid green;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Form */

.form-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px;
  background-color: lightgray;
}

p {
  margin-bottom: 0%;
}

form {
  border-radius: 50px;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

.form-error {
  color: red;
  font-size: 0.9rem;
  display: none;
}

button {
  background-color: green;
  color: yellow;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem;
  margin-top: 20px;
}

button:hover {
 background-color: lightgreen;
 color: darkorange;
}

/* Home page */

.result {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 400px;
  padding: 20px;
}

.wrap {
  background-color: lightgrey;
  
}

.wrap:hover {
  background-color: lightgreen;
}

h2 {
  margin-left: 10px;
}

.image {
  height: 200px;
  background-size: cover;
  background-position: center center;
}


/* Details page */

.details-image {
  height: 400px;
  background-size: cover;
  background-position: center center;
  max-width: 800px;
}